>
	<head>
		<script>
//Je suis dans un javascript
var a = '3';
var b = 3.6;
var c = parseInt (a);
	alert(c);


if (a=3) 


{
	//a vaut 3
	alert("a=3");
}

{
alert(1);alert(2)
}


/*// Ouvre un popup
alert (a);

//Ecrit dans le html
document.write(a);

//Ecrit dans la console (F12)
console.log(a);
*/
		</script>
	</head>
	<body>
	
	</body>
</html>